@model Tuple<IEnumerable<TrustLessModelLib.Statement>, Dictionary<int, List<TrustLessModelLib.Recommendation>>>

@{
    ViewBag.Title = "View";
}

<h2>Recommendations:</h2>

<div>
    <form action="/Home/GetRecommendation" method="post">
        <div class="col-md-3">
            @Html.TextBox("MedicinOne")
        </div>
        <div class="col-md-3">
            @Html.TextBox("MedicinTwo")
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.First().MedicinOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.First().MedicinTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.First().Description)
        </th>
        <th>
            List of opinions:
        </th>
    </tr>

    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicinOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicinTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{
                    List<TrustLessModelLib.Recommendation> recoList;
                    Model.Item2.TryGetValue(item.Id, out recoList); }
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => recoList.First().IsRecommended)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => recoList.First().PersonUsername)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => recoList.First().Description)
                        </th>
                    </tr>

                    @foreach (var reco in recoList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => reco.IsRecommended)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => reco.PersonUsername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => reco.Description)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
